<div class="tile double bg-darkRed">
  <div class="tile-content">
    <form action="/first_led" method="post" accept-charset="utf-8">
      <button type="submit" class="large full-width">Change LED Status →</button>
    </form>
  </div>
  <div class="tile-status">
    <span class="name">First Led</span>
  </div>
</div>

<div class="tile double bg-green">
  <div class="tile-content">
    <form action="/second_led" method="post" accept-charset="utf-8">
      <button type="submit" class="large full-width">Change LED Status →</button>
    </form>
  </div>
  <div class="tile-status">
    <span class="name">Second Led</span>
  </div>
</div>

<div class="tile double bg-cyan">
  <div class="tile-content">
    <form action="/third_led" method="post" accept-charset="utf-8">
      <button type="submit" class="large full-width">Change LED Status →</button>
    </form>
  </div>
  <div class="tile-status">
    <span class="name">Third Led</span>
  </div>
</div>
