<!DOCTYPE html>
<html>
  <head>
    <title>Arduled</title>
    <link rel="stylesheet" href="../css/metro-bootstrap.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="../js/metro.min.js"></script>

  </head>

  <body class="metro">
    <div class="grid fluid">
      <header class="header">
        <h1 id="arduled">Arduled</h1>
      </header>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
